<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Login/Registration</title>
</head>

<body>
<div class="login-page">
    <form class="login-form" th:action="@{/login}" method="post">
        <h2>Login</h2>
        <div class="input-box">
            <input type="text" id="login-username" placeholder="Username" required>
        </div>
        <div class="input-box">
            <input type="password" id="login-password" placeholder="password" required>
        </div>
        <button type="submit">Login</button>

        <p class="message">Don't have an account? <a href="#">Register now</a></p>
    </form>

    <form action="#" class="registration-form">
        <h2>New Registration</h2>
        <div class="input-box">
            <input type="text" id="register-username" placeholder="Username" required>
        </div>
        <div class="input-box">
            <input type="email" id="email" placeholder="email" required>
        </div>
        <div class="input-box">
            <input type="password" id="register-password" placeholder="password" required>
        </div>
        <button type="submit">Register</button>

        <p class="message">Already have account? <a href="#">Sign in</a></p>
    </form>
</div>

<script src="js/main.js"></script>
</body>

</html>