<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-image: url('/reminder.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Reminder Manager</h2>
    <form th:action="@{/index}">
        Filter: <label for="keyword"></label><input type="text" name="keyword" id="keyword" size="50"
                                                    th:value="${keyword}" required />        &nbsp;
        <input type="submit" value="Search" />        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>
    <h3><a href="/remind/new">New Remind</a></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>DateTime</th>
        </tr>
        <tr th:each="remind: ${reminds}">
            <td th:text="${remind.id}"></td>
            <td th:text="${remind.getTitle()}"></td>
            <td th:text="${remind.getDescription()}"></td>
            <td th:text="${remind.getRemind()}"></td>
            <td>
                <a th:href="@{/edit/{remindId}(remindId=${remind.id})}">Edit</a>
                <a th:href="@{/delete/{remindId}(remindId=${remind.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--<br>-->
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/index}]]";
    }
</script>

</body>
</html>
