<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>New Remind</title>
</head>
<body>
<div align="center">
    <h2>New Remind</h2>
    <form action="#" th:action="@{/save}" th:object="${reminder}" method="post">
        <p>Title: <label>
            <input type="text" th:field="*{title}" />
        </label></p>
        <p>Description: <label>
            <input type="text" th:field="*{description}" />
        </label></p>
        <p>Remind date: <label>
            <input type="datetime-local" th:field="*{remind}" />
        </label></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        <a href="/index">Back</a>
    </form>
</div>
</body>
</html>